---
import Logo from '~/components/Logo.astro';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends Link {
  type?: string;
}

export interface Props {
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  showToggleTheme?: boolean;
  position?: string;
}

const {
  links = [],
  actions = [],
} = Astro.props;
---

<header
  class='top-0 z-40 sticky px-5 py-2'
  id="header"
>
  <div class="flex mx-auto max-w-6xl justify-between ">
    <a class="flex items-center" href={getHomePermalink()}>
      <Logo />
    </a>
    <details id="details" open class="transition-all">
      <summary class="list-none md:hidden">
        =
      </summary>
      <div class="flex items-center">
      <nav
        class="items-center w-full md:w-auto hidden md:flex md:h-auto overflow-y-auto md:overflow-visible md:mx-5"
        aria-label="Main navigation"
      >
        <ol class="flex gap-5 flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
          {
            links.map(({ text, href}) => (
              <li>
                <a
                  class="font-medium hover:text-gray-900 dark:hover:text-white flex items-center transition duration-150 ease-in-out"
                  href={href}
                >
                  {text}
                </a>
              </li>
            ))
          }
        </ol>
      </nav>
      {
        actions?.length ? (
          <span class="ml-4">
            {actions.map(({ text, href }) => (
              <a class="btn py-2.5 font-semibold shadow-none text-sm"
                href={href}
              >
                <Fragment set:html={text} />
              </a>
            ))}
          </span>
        ) : (
          ''
        )
      }
      </div>  
    </details>
  </div>
</header>
<script>
  const details = document.querySelector("#details")
  addEventListener("resize", (event) => { });
  
</script>
